.jumbotron {
  background: url('/assets/images/cricket_logo_top.png') no-repeat center center;
  padding: 2rem 1rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.jumbotron h3 {
  color: #315863;
  margin-top: 7rem;
  text-align: right;
  /* right: 10px; */
  color: #315863;
  margin-right: 20rem;
}

.jumbotron a {
  text-decoration: none;
}

h3 {
  text-shadow: 0px 1px 1px #3d3d3d;
}

@media screen and (max-width: 992px) {
  .jumbotron {
    display: none;
  }
}
