<div class="sponsors-container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <h3 class="card-header">Care A Child</h3>
        <!-- <div class="card-body">
        <h5 class="card-title"></h5>
        <h6 class="card-subtitle text-muted"></h6>
      </div> -->
        <div class="square">
          <img src="assets/images/careachild.jpg" alt="care a child">
        </div>
        <div class="card-body">
          <!-- <p class="card-text">Care A Child</p> -->
          <!-- <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
